.add {
    display: list-item;
    text-align: center;
}

.add-form {
    width: 500px;
    margin: 50px auto;
}

.add-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-form label small {
    font-weight: normal;
}

.add-form input, .add-form textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}


.add-form button {
    border: 0;
    background: #498460;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 1px 35px;
    border-radius: 2px;
    line-height: 22px;
    text-decoration: none;
}

.add-back-btn {
    border: 0;
    background: #498460;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 1px 35px;
    border-radius: 2px;
    line-height: 22px;
    text-decoration: none;
}