.table {
    display: table-row;
    /*width: content-box;*/
}
.table-row {
    display: flex;
    margin: 20px;
    border-radius: 15px;
    background: linear-gradient(110deg, #68a320 10%, #2b610c 80%);
}

.table-row-info-actions {
    display: flex;
}

.table-row-info {
    display: grid;
    width: 300px;
    text-align: left;
    align-items: flex-start;
    margin: 20px;
    padding: 10px;
}

.table-row-actions {
    margin: 10px;
    display: grid;
    width: 100px;

}

.item-name {
    font-size: 20px;
    font-weight: bold;
}

.quarantine {
    margin-top: 10px;
    font-weight: bold;
    color: #000000;
    background-color: #cc3232;
    text-align: center;
    border-radius: 50px;
}

.btn {
    background: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
}

button {
    background: #2b610c;
    margin: 2px;
    cursor: pointer;
    border-color: #1d4608;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
}

.waterBtn:hover {
    color: white;
    background-color: #a8bcce;
}

.fertilizeBtn:hover {
    color: white;
    background-color: #83603c;
}

.dustBtn:hover {
    color: white;
    background-color: #9b9999;
}

.deleteBtn {
    font-weight: bold;
    font-size: large;
    border: none;
}