.table-row {
    display: flex;
    margin: 20px;
    border: groove #868686;
    /*border-radius: 8px;*/
    background-color: #498460;
    box-shadow: black;

}

.table-row-info-actions {
    display: flex;
}

.table-row-info {
    display: grid;
    width: 300px;
    text-align: left;
    align-items: flex-start;
    margin: 20px;
    padding: 10px;
}

.table-row-actions {
    display: grid;
    width: 100px;

}

.item-name {
    /*padding: 10px;*/
    /*margin: 10px;*/
    /*text-align: match-parent;*/
    font-size: 20px;
    font-weight: bold;
}

.quarantine {
    font-weight: bold;
    color: #000000;
    background-color: #ff0000;
    text-align: center;
}

.btn {
    background: #498460;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
}

button {
    background: #498460;
    margin: 2px;
}