header {
  background-color: #41c279;
  padding: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
}
app {
  justify-content: center;
}
.add-button {
  background-color: #309f5f;
  display: flex;
  justify-content: center;
  position: center;
}