header {
  background-color: #309f5f;
  padding: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.add-button {
  background-color: #309f5f;
  display: flex;
  justify-content: center;
  position: center;
}